Pillow
tensorboard
pyvips
pydot
graphviz
absl
tensorflow-gpu
apex
scikit-image
torchvision
torch
seaborn
opencv-python
bokeh
appJar
bluetool
pyserial
pyedflib
IPython
pygame
dipy
flake8
h5py
h5py
joblib
jupyter
matplotlib
mayavi
mne
neo
nibabel
nilearn
numba
numexpr
numpy
numpydoc
pandas
panel
psutil
pydocstyle
pyqt5
pyqt5-sip
pytest!=4.6.0
pytest-cov
pytest-faulthandler
pytest-mock
pytest-sugar
pytest-timeout
python-picard
requests
scikit-learn
scipy
sip
statsmodels
tqdm
xlrd
selenium
